# list and its default functions

In [5]:
lst1=[123,'hi','hello',23]
lst1

[123, 'hi', 'hello', 23]

In [6]:
lst1

[123, 'hi', 'hello', 23]

In [7]:
lst1.append(4.35)

In [8]:
lst1

[123, 'hi', 'hello', 23, 4.35]

In [12]:
lst1.clear()
lst1

[]

In [17]:
lst=[123,'hello',4.5,[1,2.01,'world']]
lst2=lst.copy()
lst2

[123, 'hello', 4.5, [1, 2.01, 'world']]

In [22]:
lst.count('hello')

1

In [25]:
lst.extend([1,8.1])
lst

[123, 'hello', 4.5, [1, 2.01, 'world'], 1, 8.1, 1, 8.1]

In [26]:
lst.index(4.5)

2

In [27]:
lst.insert(6,3)

In [28]:
lst

[123, 'hello', 4.5, [1, 2.01, 'world'], 1, 8.1, 3, 1, 8.1]

In [29]:
lst.pop()

8.1

In [30]:
lst

[123, 'hello', 4.5, [1, 2.01, 'world'], 1, 8.1, 3, 1]

In [31]:
lst.remove(4.5)

In [32]:
lst

[123, 'hello', [1, 2.01, 'world'], 1, 8.1, 3, 1]

In [33]:
lst.reverse()
lst

[1, 3, 8.1, 1, [1, 2.01, 'world'], 'hello', 123]

In [37]:
lst1=['z','m','u','i','o']
lst1.sort()
lst1

['i', 'm', 'o', 'u', 'z']

# dictionary and its default functions

In [38]:
dit={'name':'aasritha','rollno':123,'fee':21343.66}
dit

{'name': 'aasritha', 'rollno': 123, 'fee': 21343.66}

In [39]:
dit1=dit.copy()
dit1

{'name': 'aasritha', 'rollno': 123, 'fee': 21343.66}

In [41]:
keys={'a','b','c'}
value='alphabet'
letters= dict.fromkeys(keys,value)
letters

{'b': 'alphabet', 'a': 'alphabet', 'c': 'alphabet'}

In [42]:
print(dit.get('name'))

aasritha

In [43]:
dit.items()

dict_items([('name', 'aasritha'), ('rollno', 123), ('fee', 21343.66)])

In [44]:
dit.keys()

dict_keys(['name', 'rollno', 'fee'])

In [48]:
dit.pop('fee')

21343.66

In [49]:
dit.popitem()

('rollno', 123)

In [50]:
y=dit.setdefault('fee')
print(y)

None

In [52]:
d1={'sub':6}
dit.update(d1)
dit

{'name': 'aasritha', 'fee': None, 'sum': 6, 'sub': 6}

In [53]:
dit.values()

dict_values(['aasritha', None, 6, 6])

In [54]:
dit.clear()

In [55]:
dit

{}

# sets

In [56]:
st={'aasritha',123,8.2,'abc'}
st

{123, 8.2, 'aasritha', 'abc'}

In [57]:
st.add(4.1)
st

{123, 4.1, 8.2, 'aasritha', 'abc'}

In [58]:
st1=st.copy()
st1

{123, 4.1, 8.2, 'aasritha', 'abc'}

In [61]:
st.difference(st1)

set()

In [62]:
st2={1,30,80,23}
st3={2,30,23,80}
st2.difference_update(st3)

In [63]:
st2

{1}

In [64]:
st.discard('abc')
st

{123, 4.1, 8.2, 'aasritha'}

In [65]:
st.intersection(st3)
st

{123, 4.1, 8.2, 'aasritha'}

In [66]:
st2={2,30,14,15}

In [67]:
st3.intersection_update(st2)
st3

{2, 30}

In [69]:
print(st3.isdisjoint(st2))

False

In [70]:
st3.issubset(st2)

True

In [71]:
st3.issuperset(st2)

False

In [72]:
st.pop()

4.1

In [73]:
st

{123, 8.2, 'aasritha'}

In [74]:
st.remove(123)

In [75]:
st

{8.2, 'aasritha'}

In [76]:
st3.symmetric_difference(st2)

{14, 15}

In [77]:
st3.symmetric_difference_update(st2)

In [78]:
st3

{14, 15}

In [79]:
st3.union(st2)

{2, 14, 15, 30}

In [81]:
st3.update('abc')

###

In [82]:
st3

{14, 15, 'a', 'b', 'c'}

In [83]:
st3.clear()
st3

set()

# tuple

In [85]:
tle=(1,2.3,'abc','xyz',12)

In [86]:
tle

(1, 2.3, 'abc', 'xyz', 12)

In [88]:
tle.count(2.3)

1

In [89]:
tle.index('abc')

2

# string

In [91]:
str1='aabbcc'
str1

'aabbcc'

In [93]:
str1.capitalize()

'Aabbcc'

In [95]:
str2='ABC'
str2.casefold()

'abc'

In [99]:
str2=str1.center(20,'=')

##

In [100]:
str2

'=======aabbcc======='

In [101]:
str1.encode()

b'aabbcc'

In [102]:
str3=str1.encode()

In [103]:
str3

b'aabbcc'

In [105]:
str4='a'
c=str1.count(str4)

In [106]:
c

2